*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color:#FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom , left;
    
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    

}
nav  ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 10px 30px;
    
    background-color: #FD6E0A;
    border-radius: 5px;
}
.banner{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 200px;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.banner-title{
    font-size: 45px;
    font-weight: 600;
}
.banner-sec-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-discription{
     color: #757575;
     font-size: 16px;
     margin-bottom: 30px;
}
main{
    max-width: 1140px;
    margin:0 auto;
}
.about{
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

}
.section-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-discription{
    color: #757575;
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color:#757575;
}
.info-discription{
    font-size: 20px;
    font-weight:700;
    color:#474747);
}

/* skills-sections-start */

.my-skills{
    margin-top: 120px;
    margin-bottom: 100px;
}
.skill-section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.skill-section-discription{
    color: #757575;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;

}
.skill-title{
    color:  #181818;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-discription{
    color: #757575);
}